* {
    box-sizing: border-box;
}

.shopping-list li {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: antiquewhite;
}

.shopping-list li .item-name {
    flex: 1;
    padding: 5px 10px;
}

.shopping-list li[item-completed] .item-name {
    text-decoration: line-through;
    color: gray;
}